.ManageOrder {
    margin: 50px 0;
    .ManageOrder-content {
        .cart-in-order {
            min-height: 100px;
            background-color: white;
            width: 96%;
            margin: auto;
            margin-bottom: 50px;
            .table td,
            .table th {
                text-align: center;
                vertical-align: middle;
            }
            .table {
                .th-1 {
                    width: 1065.6px/8;
                }
                .th-2 {
                    width: 1065.6px/8 * 2;
                }
                .th-3 {
                    width: 1065.6px/8 * 3;
                }
                tr {
                    cursor: pointer;
                    td {
                        a {
                            color: black;
                        }
                    }
                    // .td-1 {
                    //     width: 1065.6px/8;
                    // }
                    // .td-2 {
                    //     width: 1065.6px/8 * 2;
                    // }
                    // .td-3 {
                    //     width: 1065.6px/8 * 3;
                    // }
                    .td-quantity {
                        display: flex;
                        justify-content: space-around;
                        height: 100%;
                        align-items: center;
                        button {
                            padding: 3px 4px;
                        }
                        // .btn-increase-quantity {
                        //     text-align: right;
                        // }
                        // .btn-decrease-quantity {
                        //     text-align: left;
                        // }
                        // .span-quantity {
                        //     width: 30%;
                        // }
                    }

                    &:hover {
                        background-color: $color-bg;
                    }
                }
            }

            .footer-order-cart {
                margin: 30px 50px;
                text-align: center;
                h3 {
                    text-align: right;
                    margin: 10px 30px 30px 0;
                }
                .option-payment,
                .option-shipping,
                .option-note,
                .note-note {
                    label {
                        margin-right: 20px;
                        text-align: right;
                        width: 300px;
                    }
                    input,
                    select,
                    textarea {
                        width: 300px;
                        padding: 6px;
                        margin-bottom: 20px;
                    }
                  
                    .error {
                        width: 550px;
                        text-align: right;
                    }
                }
                .div-button-footer-order {
                    text-align: right;
                }
            }
        }

        .nav-tabs {
            width: 29.3%;
            margin: 0 auto;
        }
        .tab-content {
            .tab-content-item {
                background-color: white;
                margin-bottom: 30px;
                min-height: 100px;
                .info-order-left {
                    padding: 15px 0;
                    text-align: center;
                    border-right: 1px solid black;
                    a {
                        color: black;
                        width: 100%;
                    }
                    #infoOrderEachItem {
                        display: flex;
                        justify-self: center;
                        padding: 20px 0;
                        position: relative;

                        .infoItem-order-left {
                            cursor: pointer;

                            // position: relative;
                            // transition: .5 ;
                            img {
                                // position: absolute;
                                // top: 30%;
                                // left: 20%;
                                width: 70px;
                                height: 50px;
                            }
                        }
                        .text-OrderProduct {
                            text-align: left;
                            p {
                                font-weight: 400px;
                                line-height: 16px;
                                font-size: 17px;
                                span {
                                    color: red;
                                }
                            }
                        }
                        &:hover {
                            background-color: $color-bg;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 25%;
                            border-top: 1px solid #ccc;
                            width: 50%;
                            height: 12px;
                        }
                    }
                }

                .info-order-right {
                    padding: 15px 0;
                    text-align: center;
                    .text-info-order-right {
                        width: 80%;
                        margin: auto;
                        text-align: left;
                        p {
                            span {
                                font-size: 17px;
                                line-height: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                    .bnt-reOrder {
                        width: 80%;

                        text-align: right;
                    }
                }
            }
        }
    }
}
