.Filter {
    margin-top: 100px;
    background-color: $color-white;
    padding: 0;
    .Filter-content {
        padding: 20px 0;
        // margin: 0 10px;
        .Filter-item {
            //  margin: 15px 45px;
            height: 150px;
            text-align: center;

            .item-content {
                width: 80%;
                height: 90%;
                margin: auto;

                border: 0.5px solid $color-black-light;
                padding-top: 20px;
                color: black;
                img {
                    width: 70px;
                    height: 60px;
                    transition : 1s linear all;
                }

                .infoNameCate {
                    .text-namCate {
                        font-weight: 400;
                        line-height: 17px;
                        font-size: 15px;
                    }
                }
                &:hover {
                  

                    animation-name: example;
                    animation-duration: 1s;

                    img {
                        width: 100px;
                        height: 80px;
                       
                    }
                }
            }


            
        }
    }
}

@keyframes example {
    0% {
        box-shadow: 1px 1px 1px 1px $color-white;
    }
    25% {
        box-shadow: 2px 2px 2px 2px $color-white-cream;
    }
    50% {
        box-shadow: 3px 3px 3px 3px #888888;
    }
    100% {
        box-shadow: 4px 4px 4px 4px $color-black-light;
    }
}

/* The element to apply the animation to */
